* {
    font-family: "Roboto", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;


}

body {
    background-color: #e7e7e7;
    padding-top: 100px;
}

header{
    display: inline-flex;
    align-items: center;
    
}

header img{
    height: 36px;
    margin-right: 16px;
}

header h1 {
    font-size: 40px;
    font-weight: bold;
}

.container{
    max-width: 960px;
    width: 100%;
    margin: 0 auto;
}

form {
    display: flex;
    max-width: 640px;
    width: 100%;
    justify-content: space-between;
    margin-bottom: 50px;
}

form button{
    background-color: #00a2ffd2;
    color: #fff;
    font-size: 24px;
    font-weight: bold;
    border: none;
    cursor: pointer;
    padding: 8px;
}

form input {
    font-size: 30px;
    background-color: #ffffff;
    border: none;
    margin-right: 17px;
    border-bottom: 6px ;
    padding: 8px;
}

table {
    width: 100%;

}

table th{
    border-bottom: 2px solid black;
    padding: 40px;
    font-size: 24px;
    font-weight: bold;
}